.clear
{
	clear: both;
}
.pl0
{
	padding-left: 0;
}
.pr0
{
	padding-right: 0;
}
.p0
{
	padding: 0;
}
.min_gap
{
	margin-bottom: 7px;
}
.little_gap
{
	margin-bottom: 15px;
}
.large_gap
{
	margin-bottom: 40px;
}
.form-signin input[type="text"], .form-signin input[type="password"]
{
	margin-bottom: 0;
}
.Error_msg, .Error_msg1
{
	display: none;
	color: red;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}
.sucess_msg, .sucess_msg1
{
	display: none;
	color: green;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}
#calendar 
{
	max-width: 900px;
	margin: 0 auto;
}
.overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: none;
}
/* $$$$$$$$$$$$$$$$$$$$    recruiter profile   $$$$$$$$$$$$$$$$$$$ */
.main_div_bg
{
	    padding: 20px 5px;
    background-color: #fff;
    border-radius: 9px;
    border: 1px solid #e9e9e9;
    overflow: hidden;
}
.job_Desc_div1 p, .job_Desc_div2 p
{
line-height: 24px;
}
.add_more
{
background-color: #55a747;
    color: #fff;
    border: 0;
    padding: 6px 15px;	
}
.education_div, .skills_div, .experience_div, .portfolio_div
{
	position: relative;
}
.delete_div
{
	position: absolute;
	right: -7px;
	top: 48%;
	cursor: pointer;
	color: red;
}
.delete_div1
{
	position: absolute;
	right: -7px;
	top: 48%;
	cursor: pointer;
	color: red;
}
.delete_div2
{
	position: absolute;
	right: -7px;
	top: 48%;
	cursor: pointer;
	color: red;
}
.delete_div3
{
	position: absolute;
	right: -7px;
	top: 48%;
	cursor: pointer;
	color: red;
}
.disabled_btn
{
	opacity: 0.5;
	pointer-events: none;
}
.Q_circle
{
	width: 84px;
	height: 84px;
	background-color: #999;
	color: #fff;
	text-align: center;
	padding: 15px;
	border-radius: 50%;
}
.img_100
{
	width: 100%;
}
.Portfolio_divsss .col-md-6
{
margin-bottom: 30px;
}
.img_protf
{
	transition:0.3s;
	position: relative;
}
.overlay_portfolio
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transform:scale(0,0);
	transition:0.3s;
}
.port_text
{
	position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    color: #fff;
    width: 100%;
    text-align: center;
}
.img_protf:hover .overlay_portfolio
{
	transform:scale(1,1);
}
.job_Desc_div2 .qualif_div
{
border-bottom: 1px solid #c8c8c8;
    padding: 23px 0px;
}
.job_Desc_div2 .experien_div
{
border-bottom: 1px solid #c8c8c8;
    padding: 23px 0px;
}
.qualif_div h4
{
font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.qualif_div p
{
    margin-top: 3px;
    font-size: 14px;
}
.experien_div h4
{
font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 2px;
}
.experien_div p
{
    margin-top: 3px;
    font-size: 14px;
    margin-bottom: 0;	
}
.popup_followers, .popup_followings, .popup_U_blockd
{
	width: 700px;
	
	top: 50%;
	left: 50%;
	position: fixed;
	transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
   	display: none;
    z-index: 1000;
    background-color: #fff;
}
.folovers ul
{
margin-bottom: 0;
padding-left: 0;
height: 500px;
 overflow-x: hidden;
    overflow-y: scroll;
}
.folovers ul li
{
    list-style-type: none;
    border-bottom: 1px solid #dedede;
    padding: 8px 0px;
}
.folovers ul li img
{

}
.folovers h3
{
    margin: 0;
    padding: 10px 35px;
    border-bottom: 1px solid #c1c1c1;
    font-size: 18px;
    font-weight: 800;
}
.folovers h4
{
margin-top: 10px;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 0;
}
.folovers p
{
margin-bottom: 0;
    margin-top: 4px;
}
.folovers button
{
    background-color: #55a747;
    color: #fff;
    border: 0;
    padding: 5px 16px;
    margin-top: 20px;
    box-shadow: 0px 0px 1px #999;
}
.Flwr_fllwing
{
background-color: #90a98b !important;
}
.Flwr_fllw
{
	background-color: #55a747;
}
.close_r_p_popup
{
	    position: absolute;
    top: 0px;
    right: 7px;
    font-size: 20px;
    cursor: pointer;
}
.recruiter_ffb
{
	cursor: pointer;
}
.edit_btn
{
	border: 0;
    background-color: #55a747;
    color: #fff;
    padding: 6px 18px;
}
.body_no_scroll
{
	
}
.job_Desc_div1 .cp_compname
{
margin: 0;
color: #55a747;
font-size: 20px;
font-weight: 600;
margin-bottom: 7px;
}
.job_Desc_div1 .cp_compof
{
font-size: 15px;
color: #666;
margin: 0;
margin-bottom: -6px;
}
.job_Desc_div1 .cp_estb
{
margin-bottom: -6px;
}
.job_Desc_div1 .cp_complocat
{
margin-bottom: 0;
}
.cp_com_details
{
margin-bottom: 0;
}
.cp_com_details li
{
list-style-type: none;
color: #444;
line-height: 24px;
}
.cp_com_details li i
{
color: #55a747
}
.cp_com_details li a
{
	color: #444;
}
.cp_follow{
background-color: #55a747;
color: #fff;
padding: 10px 20px;
border: 0;}
.cp_social 
{
margin-bottom: 0;
margin-top: 12px !important;
}
.cp_social li
{
list-style-type: none;
display: inline-block;
}
.cp_social li a
{
font-size: 15px;
width: 28px;
display: block;
text-align: center;
background-color: #55a747;
color: #fff;
height: 28px;
padding: 2px;
transition:0.3s
}
.cp_social li a:hover
{
	border-radius: 5px;
}
.cp_c input
{
width: 100%;
height: 38px;
padding-left: 10px;
border: 1px solid #c8c8c8;
margin-bottom: 10px;
}
.cp_c textarea
{
width: 100%;
height: 125px;
resize:none;
border:1px solid #c8c8c8;
margin-bottom: 10px;
padding: 10px;
}
.cp_submit
{
	border: 1px solid #55a747;
background-color: #55a747;
color: #fff;
width: 100%;
padding: 9px;
}
.job_Desc_div1
{
	background: #fff;
	border:1px solid #e9e9e9;
	padding: 20px 20px 10px 20px;
	margin-bottom: 30px;
}
.jb_Desc_aply_btn
{
background-color: #55a747;
color: #fff;
padding: 10px 20px;
border: 0;
}
.job_Desc_div2, .job_Desc_div3
{
		background: #fff;
	border:1px solid #e9e9e9;
	padding: 20px;
	margin-bottom: 30px;
}
.job_Desc_div1 h3
{
margin: 0;
font-size: 22px;
font-weight: 600;
color: #444;
}
.job_Desc_div1 .J_d_date
{
margin-top: 9px;
font-size: 14px;
color: #a7a7a7;
}
.job_Desc_div1 .j_d_salary
{
	font-size: 14px;
}
.job_Desc_div1 .jd_comname
{
	margin: 0;
font-size: 18px;
font-weight: 600;
color: #55a747;
}
.job_Desc_div1 .jd_loca
{
margin-top: 9px;
font-size: 14px;
color: #a7a7a7;	
}
.job_Desc_div1 .jd_jopen
{
		font-size: 14px;
}
.job_Desc_div2 h3, .job_Desc_div3 h3
{
margin: 0;
font-size: 22px;
font-weight: 600;
color: #55a747;
margin-bottom: 10px;	
}
.job_Desc_div2 ul li
{
	list-style-type: none;
}
.job_Desc_div2 ul li i
{
	color: #55a747
}
hr
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.jd_relatedjobs
{

font-size: 22px;
font-weight: 600;
color: #444;
}
/* $$$$$$$$$$ Job_Description $$$$$$$$$$ */
.img100
{
	width: 74px;
height: 74px;
}
.jobs_list_div .pos_name
{
margin: 0;
font-size: 18px;
font-weight: 600;
color: #55a747;
}
.jobs_list_div .com_name
{
color: #888;
text-transform: capitalize;
margin-bottom: 0;
}
.jobs_list_div .pos_loca
{
font-size: 12px;
margin-bottom: 0;
color: #444;
font-weight: 600;
margin-top: -5px;
}
.jobs_list_div .aply_bnt
{
border: 0;
background-color: #55a747;
color: #fff;
padding: 8px 13px;
width: 100%;
text-transform: capitalize;
}
.jobs_list_div .comp_desc
{
line-height: 22px;
margin-bottom: 0;
margin-top: 6px;
text-align: justify;
}
.jobs_list_div:hover
{
border: 1px solid #55a747;
box-shadow: 0px 0px 7px #999;
}
.document-breadcrumb
{
	margin: -60px 0px 0px 0px;
}

.jobs_list_div
{
	padding: 20px;
	border:1px solid #e9e9e9;
	margin-bottom: 30px;
	transition:0.3s;
	background-color: #fff;
}
.A_m_textarea
{
	height: 165px !important;  
}
.job_Desc_div2 ul
{
	padding-left: 0;
}
.job_Desc_div2 ul li
{
	line-height: 24px;
}
.job_Desc_div2 .qualif_div:last-child,.job_Desc_div2 .experien_div:last-child
{
border-bottom: 0;
}
.form-group
{
	position: relative;
}
.btn_delte_div
{
	position: absolute;
	right: -24px;
	top: 50%;
}
.disabled_btn
{
	pointer-events: none;
	opacity: 0.3;
}
.experience_full_div .btn_delte_div
{
	right: -10px;
}
.cancel_btn
{
	border: 0;
    background-color: #ec5252;
    color: #fff;
    padding: 6px 18px;
}
.overlay_profile_pic
{
	position: absolute;
	left: 0;
	top: 0;
	width: 74px;
	height: 74px;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
.overlay_profile_pic span
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.edit_div, .qualifi_edit, .experien_edit, .aboutme_edit, .skill_edit, .qualifi_Add, .experience_add, .skill_add, .portfolio_edit, .portfolio_add
{
	display: none;
}
.qualifi, .add_exp_div, .skills_single, .portfolio_sing_div
{
	position: relative;
}
.edit_div .cp_com_details li
{
position: relative;
}
.edit_div .cp_com_details li i
{
	    position: absolute;
    top: 10px;
    left: -32px;
}
.qualifi_edit .full_single_college_edit
{
	border-bottom: 1px solid #c8c8c8;
    margin-bottom: 14px;
    padding-bottom: 14px;
}
.experien_edit .experince_single_detail
{
	border-bottom: 1px solid #c8c8c8;
    margin-bottom: 14px;
    padding-bottom: 14px;
}
.skills_single button
{
top: 6px;
}
.btn_hide_word_disable
{
	opacity: 0 !important;
	pointer-events: none;
}
.overlay_portfolio_pic
{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}
.overlay_portfolio_pic span{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    cursor: pointer;
}
/* $$$$$$$$$$$$$$$$$$$$    recruiter profile   $$$$$$$$$$$$$$$$$$$ */
.InterviewRounds
{
	padding-left: 30px !important;
}
.InterviewRounds li
{
 position: relative;
}
.InterviewRounds li:before
{
	content: '•';
    color: #55a747;
    font-size: 30px;
    position: absolute;
    left: -16px;
    top: 1px;
}




/* $$$$$$$$$$$$$$$$$$$    user porfile         $$$$$$$$$$$$$$$$ */
.bg_gradient
{
	background: #1d253a; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #1d253a , #4d5b8c); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #1d253a, #4d5b8c); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #1d253a, #4d5b8c); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #1d253a , #4d5b8c); /* Standard syntax */
	position: relative;
	padding: 50px;
}
.set_img
{
	width: 100%;
}
.profile_div img
{
	border-radius: 50%;
}
.up_username
{
font-size: 22px;
color: #fff;
font-weight: 200;
margin-top: 4px;
margin-bottom: 8px;
}
.up_username span
{
	font-size: 13px;
font-weight: 200;
color: #fff
}

.up_userlocation
{
color:  #fff;
}
.up_Nationality
{
color:  rgba(255,255,255,0.7);
font-weight: 200;
}
.up_Nationality span
{
font-weight: 600;
color: #fff;
}
.up_p_b_desc p
{
	margin: 0;
}
.social_links i
{
width: 30px;
height: 30px;
text-align: center;
padding: 7px;
border: 1px solid;
margin-right: 5px;
border-radius: 0px;
}
.social_links 
{
margin-top: 15px;
}
.up_div_boxes
{
	background-color: #fff;
	border:1px solid #f0f0f0;
	border-radius:10px;
	box-shadow: 2px 2px 2px #999;
	padding: 10px;
}
.Jobs_appl
{
font-size: 20px;
color: #f0f0f0;
margin: 0;
margin-top: 6px;
}
.jobs_app_count
{
	font-size: 65px;
color: #bfffb4;
}
.ref_links
{
	padding-left: 0;
	margin-top: 50px;
}
.ref_links li
{
list-style-type: none;
border: 1px solid #c8c8c8;
padding: 12px 30px;
margin-bottom: 6px;
font-size: 15px;
font-weight: 600;
cursor: pointer;
}
.ref_links li.active_up
{
background-color: #55a747;
color: #fff;
position: relative;
}
.ref_links li.active_up:after
{
position: absolute;
content: '';
border-left: 10px solid rgba(255, 255, 255, 0.0);
border-top: 10px solid rgba(255, 255, 255, 0.0);
border-bottom: 10px solid rgba(255, 255, 255, 0.0);
border-right: 10px solid #55a747;
left: -20px;
}
.profile_desc
{
	margin-top: -32px;
	margin-bottom: 30px;
}
.Desc_h3
{
	
	padding-left: 15px;
	margin-bottom: 20px;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 7px;
}
.Desc_h3 h3
{
	margin-top: 0;
	margin-bottom: 0;
}
.Desc_h3 p
{
	    margin-bottom: -2px !important;
    font-size: 15px;
    margin-top: 5px;
}
.up_div_boxes .col-md-4 p
{
	font-weight: 600;
}
.up_div_boxes .col-md-8 p span
{
	font-size: 11px;
	color: #888;
}
.Personal_div p
{
	margin-bottom: 20px;
}
.personal_info
{
	color: #666;
	margin-top: 20px;
	text-align: justify;
}
.up_e_year
{
background-color: #55a747;
width: 120px;
height: 38px;
color: #fff;
text-align: center;
padding: 10px 0;
font-size: 14px;
display: inline-block;
float: left;
position: relative;
margin-top: 10px;
}
.up_e_year:after
{
content: '';
width: 24px;
height: 24px;
background-color: #55a747;
position: absolute;
border-radius: 50%;
border: 3px solid #fff;
right: -14px;
top: 7px;
}
.up_e_details
{
display: inline-block;
float: left;
width: 400px;
margin-left: 22px;
}
.up_e_details h3
{
margin: 0;
font-size: 16px;
margin: 4px 0px;
font-weight: 600;
}
.up_e_details
{
	border-left: 4px solid #55a747;
padding: 5px 10px;
background-color: #f0f0f0;
}
.up_e_details h3 span
{
font-size: 13px;
display: block;
margin-top: 4px;
color: #55a747;
}
.up_e_details p
{
margin-top: 10px;
margin-bottom: 3px;
line-height: 20px;
color: #6a6a6a;
}
.education_field
{
	margin-bottom: 10px;
}
.skills_list 
{
	padding-left: 0;
}
.skills_list li
{
list-style-type: none;
background-color: #55a747;
color: #fff;
padding: 5px 19px 5px 8px;
display: inline-block;
margin-bottom: 8px;
position: relative;
margin-right: 17px;
}
.skills_list li:after
{
content: '';
width: 7px;
height: 7px;
background-color: #fff;
border-radius: 50%;
position: absolute;
top: 11px;
right: -5px;
}
.skills_list li:before
{
content: '';
width: 20px;
height: 20px;
position: absolute;
right: -11px;
background-color: #55a747;
top: 4px;
transform: rotate(45deg);
border-radius: 0px 4px 0 0
}
.img_protf {
    transition: 0.3s;
    position: relative;
}
.overlay_portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0,0);
    transition: 0.3s;
}
.port_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: #fff;
    width: 80%;
    text-align: center;
}
.port_text h3
{
margin: 0;
font-size: 22px;
font-weight: 600;
color: #55a747;
margin-bottom: 10px;
}
.img_protf:hover .overlay_portfolio {
    transform: scale(1,1);
}
.projects_div .col-md-6
{
margin-bottom: 30px;
}
.up_div
{
	display: none;
}
.container_self
{
	margin-left: auto;
	margin-right: auto;	
}
@media screen and (min-width: 1256px){
	.container_self {
	    width: 944px;
	}
}
/*.full_field_fiv
{
	display: none1;
}*/
/* $$$$$$$$$$$$$$$$$$$    user porfile         $$$$$$$$$$$$$$$$    992 768*/




/*  $$$$$$$$$$$$$$$$$$$$$$$$     my job post list 	 $$$$$$$$$$$$$$$$$$$$$$$$$    */
.pos_j_desg
{
    margin-bottom: 4px;
    font-size: 16px;
    color: #1fb5ad;
    font-weight: 800;
}
.pos_j_lctn
{
	font-size: 12px;
    color: #757575;
}
.pstd_dte
{
    color: #1fb5ad;
    font-weight: 600;
}
.pstd_tme
{
    color: #999;
    font-weight: 800;
}
.adv-table .dataTables_filter label input
{
	width: auto;
}
.popup
{
	padding: 20px;
	background-color: #f0f0f0;
	border:1px solid #c8c8c8;
	box-shadow: 1px 1px 3px #4a4a4a;
	position: fixed;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	z-index: 1004;
	width: 400px;
	display: none;
}
.popup p
{
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 28px;
}
.clse_btn
{
	position: absolute;
    right: 5px;
    top: 0px;
    font-size: 18px;
    cursor: pointer;
}
/*  $$$$$$$$$$$$$$$$$$$$$$$$     my job post list 	 $$$$$$$$$$$$$$$$$$$$$$$$$    */

/*  $$$$$$$$$$$$$$$$$$$$$$$$     my job post list applied user list 	 $$$$$$$$$$$$$$$$$$$$$$$$$    */
.td_img_circle tbody tr td img
{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.popup textarea
{
	width: 85%;
    height: 80px;
    border: 0;
    margin-bottom: 17px;
    border: 1px solid #c8c8c8;
    padding: 5px 7px;
    border-radius: 5px;
    resize: none;
    background-color: transparent;
    margin: 0 auto 14px;
}
/*  $$$$$$$$$$$$$$$$$$$$$$$$     my job post list applied user list 	 $$$$$$$$$$$$$$$$$$$$$$$$$    */